@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./img/fon.jpg) no-repeat center center/cover;
    font-family: "Chakra Petch", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}

.todo-app {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
    border: 3px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(10px);
}

.todo-app h1 {
    font-size: 2rem;
}

.stat-container{
    padding: 15px 20px;
    border: 10px;
    border: 2px solid rgba(255, 255, 255, 0.18);
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.detalis {
    width: 100%;
}

.detalis h3 {
    color: #fff;
}

#progressbar {
    width: 100%;
    height: 7px;
    background: rgba(255, 255, 255, 0.18);
    border-radius: 20px;
    position: relative;
    margin-top: 15px;
}

#progress {
    width: 50%;
    height: 100%;
    background: #17b1d8;
    border-radius: 20px;
    transition: width 0.3s ease;
}

#numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: #17b1d8;
    font-weight: bold;
    border-radius: 50%;
    font-size: 1.5rem;
}

.input-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input-area input {
    flex: 1;
    padding: 10px 20px;
    font-size: 1.1rem;
    border: none;
    outline: none;
    border-radius: 22px;
    background: rgba(103, 164, 255, 0.452);
    color: #fff;

}

.input-area input::placeholder {
    color: #bffaff;
}

.btn-img {
    height: 20px;
}

.input-area button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 8px;
    border-radius: 50%;
    color: #fff;
    font-size: 1.1rem;
    background: rgba(103, 164, 255, 0.452);
    border: 2px solid rgb(99, 222, 253);
    cursor: pointer;
    transition: all 0.2s ease;
}

.input-area button:hover {
    transform: scale(1.1);
    background: #2982e9b0;
    border: 2px solid rgb(157, 217, 255);
}

.todos-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#task-list {
    width: 100%;
}

.empty-image {
    height: 30vh;
}

#task-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(16, 47, 148, 0.418);
    margin-bottom: 10px;
    padding: 8px 10px;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    transition: box-shadow 0.2s ease;
}

#task-list li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

#task-list .checkbox {
    min-width: 20px;
    height: 20px;
    border: 2px solid rgba(16, 47, 148, 0.418);
    background: transparent;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-right: 10px;
}

#task-list .checkbox:checked {
    background: #bce7a0;
    transform: scale(1.1);
    width: 20px;
    height: 20px;
}

#task-list .checkbox:checked::before {
    content: url(./img/check.png);
    font-size: 1rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#task-list li span {
    flex: 1;
    word-wrap: break-word;
}

#task-list li.completed span {
    text-decoration: 2px line-through #000;
    color: #000;
}

.task-buttons {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.task-buttons button {
    background: #000000e5;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-buttons button:hover {
    transform: scale(1.2);
}

.task-buttons .solid_pen {
    background: #bffaff;
}

.task-buttons .solid_delete {
    background: #034b8f;
}

@media (max-width: 400px) {
    .stat-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    #numbers {
        width: 60px;
        height: 60px;
        font-size: 1.2rem;
    }
    .todo-app {
        padding: 1rem;
        max-width: 100%;
    }
        .input-area {
        flex-direction: column;
        align-items: stretch; 
        gap: 10px;/
    }

    .input-area button {
        margin: 0 auto;
        width: 20%;
        padding: 10px;
        font-size: 1rem;
    }

    .input-area input {
        width: 100%;
    }
}
